<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- Enable this if you wish to reference AXOOM-internal libraries -->
    <!--<add key="axoom" value="https://axoom.jfrog.io/axoom/api/nuget/nuget" />-->

    <!-- Enable this only if you wish to reference feature-branch builds from other projects -->
    <!--<add key="axoom-experimental" value="https://axoom.jfrog.io/axoom/api/nuget/nuget-experimental" />-->
  </packageSources>

  <!-- Used to inject NuGet pull credentials for CI builds -->
  <!--<packageSourceCredentials>
    <axoom>
      <add key="Username" value="ARTIFACTORY_USER" />
      <add key="ClearTextPassword" value="ARTIFACTORY_API_KEY" />
    </axoom>
    <axoom-experimental>
      <add key="Username" value="ARTIFACTORY_USER" />
      <add key="ClearTextPassword" value="ARTIFACTORY_API_KEY" />
    </axoom-experimental>
  </packageSourceCredentials>-->
</configuration>
