<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:ax="http://developer.axoom.com/schemas/deployment" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>My Service</name>
  <summary>My Service</summary>
  <feed-for interface="http://repo.axoom.cloud/feeds/Axoom.MyService.xml" />

  <group ax:optional-env-vars="LOG_LEVEL">
    <requires interface="http://repo.axoom.cloud/feeds/compose-format.xml" version="2.1" />

    <environment name="COMPOSE_FILE" insert="docker-compose.yml" mode="append" />

    <implementation id="{version}" version="{version}" stability="{stability}" released="{released}">
      <manifest-digest />
      <file href="Axoom.MyService-{version}.yml" dest="docker-compose.yml" />
    </implementation>
  </group>
</interface>
