version: '2.1'

services:
  my_service:
    restart: always
    image: ${DOCKER_REGISTRY}/my_service:${VERSION}
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Logging__LogTargets__0__Level=${LOG_LEVEL-Information}
