version: '2.1'

services:
  my_service:
    restart: always
    image: ${DOCKER_REGISTRY}/my_service:${VERSION}
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - LOGGING__LOGTARGETS__0__FORMAT=Gelf
      - LOGGING__LOGTARGETS__0__LEVEL=${LOG_LEVEL-Information}
